body {
  width: 100vw;
  height: 100vh;
  font-size: 0;
}

#board {
  width: 70%;
  height: 70%;
}

#board div {
  border: 1px solid black;
  width: 30%;
  height: 30%;
  display: inline-block;
}

#board div:nth-child(even) {
  color: azure;
  background-color: black;
}