body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: medium;
}

#subscription-table {
  text-align: center;
}

#subscription-table td {
  padding: 20px;
}

#subscription-table thead {
  font-weight: 600;
  color: white;
}

button {
  width: 90px;
  border-radius: 0;
  border: 1px solid rgb(139, 139, 139);
  padding: 10px;
  color: rgb(97, 97, 97);
}

#subscription-table thead tr:first-child td:nth-child(1) {
  background-color: rgb(160, 161, 224);
}

#subscription-table thead tr:first-child td:nth-child(2), #subscription-table thead tr td:nth-child(1) {
  background-color: rgb(136, 138, 221);
}

#subscription-table thead tr:first-child td:nth-child(3), #subscription-table thead tr td:nth-child(2) {
  background-color: rgb(125, 126, 219);
}

#subscription-table thead tr:first-child td:nth-child(4), #subscription-table thead tr td:nth-child(3) {
  background-color: rgb(116, 118, 218);
}

#subscription-table thead tr:first-child td:nth-child(5), #subscription-table thead tr td:nth-child(4) {
  background-color: rgb(68, 70, 202);
}

#subscription-table tbody tr td:first-child {
  text-align: left;
}

#subscription-table tbody tr:nth-child(odd) td:nth-child(odd) {
  background-color: rgb(211, 211, 211);
}

#subscription-table tbody tr:nth-child(even) td:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

#subscription-table tbody tr:nth-child(odd) td:nth-child(even) {
  background-color: rgb(230, 230, 230);
}

#subscription-table thead tr:first-child td:first-child {
  vertical-align: middle;
  border-top-left-radius: 15px;
}

#subscription-table thead tr:first-child td:last-child {
  border-top-right-radius: 15px;
}

#subscription-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

#subscription-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}