div {
  width: 200px;
  height: 100px;
  display: inline-block;
  background-color: blanchedalmond;
  border: 1px solid black;
  text-align: center;
}
.elem-3 {
  display: none;
}
.elem-2 {
  opacity: 0.3;
}
.elem-4 {
  visibility: hidden;
}
/* .elem-1 {
  margin-left: -500px;
} */